
# Ignore .env only in the parent directory
/.env

# Allow .env files in subdirectories
!*/.env

# ignore ai api env file
*/ai.env


# Ignore all docker data dir
*/data

supabase

# ignore system files
.idea

