services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: always
    environment:
      - TZ=${TZ}
    # expose:
    #   - "80"
    #   - "53"
    #   - "853"
    ports:
      - "8882:80"
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      - traefik-net
    volumes:
      - ./data/adguard/:/opt/adguardhome/work
      - ./data/conf:/opt/adguardhome/conf
    labels:
      - "traefik.enable=true"  
      # https
      - "traefik.http.routers.adguard.rule=host(`adguard.home.arpa`)"      
      - "traefik.http.routers.adguard.entrypoints=websecure"      
      - 'traefik.http.routers.adguard.tls=true'      
      - "traefik.http.services.adguard.loadbalancer.server.port=80"
      # http
      - "traefik.http.routers.adguard-insecure.rule=host(`adguard.home.arpa`)"
      - "traefik.http.routers.adguard-insecure.entrypoints=web"

networks:
  traefik-net:
    external: true
    name: traefik-net

