
services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin-public
    networks:
      - traefik-net
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - JELLYFIN_PublishedServerUrl=${DUCK_JELLYFIN}
    volumes:
      - ./data/config:/config
      - ./data/cache:/cache
      - ./data/jellyfinConfig.json:/jellyfin/jellyfin-web/config.json
      - ~/Public/Media:/media
      - /etc/localtime:/etc/localtime:ro
    devices:
      # - /dev/dri/renderD128:/dev/dri/renderD128
      # - /dev/dri/card0:/dev/dri/card0    
      - /dev/dri:/dev/dri
    ports:
      - 8096:8096
      # - 8920:8920 
      # - 7359:7359/udp 
      # - 1900:1900/udp 
    restart: unless-stopped
    labels:
      - "traefik.enable=true"  
      # adguard domain
      # secure
      - "traefik.http.routers.jellyfin-local.rule=Host(`movie.home`)"
      - "traefik.http.routers.jellyfin-local.entrypoints=websecure"
      - "traefik.http.routers.jellyfin-local.tls=true"
      # insecure
      - "traefik.http.routers.jellyfin-local-insecure.rule=Host(`movie.home`)"
      - "traefik.http.routers.jellyfin-local-insecure.entrypoints=web"
      # https
      - "traefik.http.routers.jellyfin.rule=Host(`${DUCK_BASE}`) && PathPrefix(`/movie`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - 'traefik.http.routers.jellyfin.tls=true'
      - "traefik.http.routers.jellyfin.tls.certresolver=myresolver"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      # http
      - "traefik.http.routers.jellyfin-insecure.rule=Host(`${DUCK_BASE}`) && PathPrefix(`/movie`)"
      - "traefik.http.routers.jellyfin-insecure.entrypoints=web"



  # fladder:
  #   image: ghcr.io/donutware/fladder:latest
  #   container_name: fladder
  #   networks:
  #     - traefik-net
  #   ports:
  #     - 4443:80
  #   environment:
  #     #- BASE_URL=`${DUCK_JELLYFIN}`
  #     - BASE_URL="https://saurav-server.duckdns.org/movie"
  #   restart: unless-stopped
  #   labels:
  #     - "traefik.enable=true"
  #     # http
  #     - "traefik.http.routers.fladder-local-insecure.rule=Host(`newuimovie.home.arpa`)"
  #     - "traefik.http.routers.fladder-local-insecure.entrypoints=web"
  #     # https
  #     - "traefik.http.routers.fladder.tls=true"
  #     - "traefik.http.routers.fladder.rule=Host(`newuimovie.home.arpa`)"
  #     - "traefik.http.routers.fladder.entrypoints=websecure"
  #     # service
  #     - "traefik.http.services.fladder.loadbalancer.server.port=80"
  #

networks:
  traefik-net:
    external: true
    name: traefik-net

