
---
services:
  owui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: owui
    networks:
      - traefik-net
    volumes:
      - ./data/openwebui/data/:/app/backend/data
    ports:
      - 3332:8080
    environment:
      - TZ=${TZ}
    env_file:
      - ./data/openwebui/open-web-ui.env
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # https
      - "traefik.http.routers.owui.rule=host(`${DUCK_OPENWEBUI}`)"
      - "traefik.http.routers.owui.entrypoints=websecure"
      - 'traefik.http.routers.owui.tls=true'
      - "traefik.http.services.owui.loadbalancer.server.port=8080"
      # duck dns ssl
      - "traefik.http.routers.owui.tls.certresolver=myresolver"
      # # http
      # - "traefik.http.routers.owui-insecure.rule=host(`${DUCK_OPENWEBUI}`)"
      # - "traefik.http.routers.owui-insecure.entrypoints=web"

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    restart: unless-stopped
    networks:
      - traefik-net
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - ./data/qdrant:/qdrant/storage:z

  ai-server:
    image: ghcr.io/echo-saurav/ai-server:latest
    container_name: ai-server
    # pull_policy: always
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - /etc/localtime:/etc/localtime
      - ./data/ai-configs/:/app/configs 
    env_file:
      - ./ai.env
    ports:
      - 8974:3000

  persona:
    image: ghcr.io/echo-saurav/persona:main
    container_name: persona
    pull_policy: always
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - /etc/localtime:/etc/localtime
      - ./data/persona:/app/configs 
    env_file:
      - ./ai.env
    ports:
      - 8976:3000


  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    networks:
      - traefik-net
    ports:
      - 6769:8080
    volumes:
      - ./data/searxng/data:/etc/searxng:rw
      - ./data/searxng/cache:/var/cache/searxng:rw
    # environment:
    #   - SEARXNG_BASE_URL=https://${SEARXNG_HOSTNAME:-localhost}/
    # logging:
    #   driver: "json-file"
    #   options:
    #     max-size: "1m"
    #     max-file: "1"

networks:
  traefik-net:
    external: true
    name: traefik-net

